{
    "extends": [
        "airbnb",
        "prettier",
        "prettier/babel",
        "prettier/react",
        "plugin:react-hooks/recommended"
    ],
    "globals": {
        "Pace": "readonly",
        "gapi": "readonly"
    },
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 11,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "impliedStrict": true
        }
    },
    "plugins": [
        "babel"
    ],
    "rules": {
        "import/no-unused-modules": [0, { // TODO: doesn't work with \*test*\ being ignored, turn on to check but don't commit until fixed
            "missingExports": true,
            "unusedExports": true,
            "ignoreExports": [
                "*.config.js",
                "**/index*"
            ]
        }],
        "no-alert": 0, // TODO
        "no-console": 0, // TODO
        "no-else-return": 2,
        "no-plusplus": ["error", {
            "allowForLoopAfterthoughts": true
        }],
        "no-restricted-globals": 0, // TODO: turn on once there's a modal
        "no-unused-expressions": 0,
        "babel/no-unused-expressions": 2,
        "prefer-destructuring": ["error", {
            "VariableDeclarator": {
                "array": false,
                "object": true
            },
            "AssignmentExpression": {
                "array": true,
                "object": true
            }
        }, {
            "enforceForRenamedProperties": true
        }],
        "react/prop-types": 0, // TODO: types are annoying but, I guess they're awesome when they save yo ass
        "sort-imports": ["error", {
            "ignoreCase": true,
            "ignoreDeclarationSort": true,
            "ignoreMemberSort": false,
            "memberSyntaxSortOrder": ["none", "all", "single", "multiple"]
        }],
        "sort-vars": 2
    },
    "env": {
        "browser": true,
        "es6": true,
        "jest": true,
        "node": true,
        "commonjs": true
    }
}